*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #303030;
    display: flex;
    flex-direction: column;
}

.nome{
    font-size: 50px;
    font-weight: bolder;
}

span{
    color: red;    
}

header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #363636;
    position: sticky;
    top: 0;
    height: 80px;
    align-items: center;
    z-index: 99;
}

main{
    flex: 1;
    
}

h1{
    padding: 20px;
    text-align: center;
    color: white;
}


a{
    color: white;
    text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.pesquisar{
    position: relative;
    width: 100%;
    max-width: 600px;
    
}

#barra{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    outline: none;
}

.icone-busca{
    position: absolute;
    right: 5px;
    top: 3px;
    color: lightgray;
    background-color: red;
    min-width: 63px;
    max-width: 193px;
    height: 34px;
    padding: 10px;
    border-radius: 10px;
}

.icone-busca:hover{
    background-color: rgb(255, 79, 79);
}

.icones{
    font-size: 20px;
    display: grid;
    grid-template-columns:repeat(3, auto); 
    gap: 10px;
}

.icones i{
    transition: transform 0.2 ease;
}

.icones i:hover{
    transform: scale(1.2);
}

.produtos{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.produto {
   padding-bottom: 20px;
   width: 400px;
   text-align: center;
   background-color: #424242;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
}

.favorito{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    z-index: 2;
}

.favorito:hover{
    color: red;
}

.favorito.ativo{
    color: red;
}

.produto img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.produto:hover img{
    transform: scale(1.05);
}

.info{
    display: grid;
    gap: 15px;
}

p{
    color: white;
    font-size: 1.3rem;
}

.preco{
    color: green;
    font-weight: bolder;
}

.Adicionar{
    background-color: rgba(255, 255, 255, 0.5);
    width: 380px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;    
    display: block;
    margin: 0 auto;
    transition: 0.1s;
}

.Adicionar:hover{
    background-color: rgba(255, 255, 255, 0.795);
}

.Adicionar:active{
    transform: scale(0.95);
}

.carrinho{
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 450px;
   background-color: rgb(238, 238, 238);
   display: flex;
   flex-direction: column;
   transition: 0.3s;
   right: -450px;
   z-index: 99;
}

.carrinho.ativo{
    right: 0;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.fechar{
    cursor: pointer;
}

.itens{
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}

.topo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.remover {
    cursor: pointer;
    font-weight: bold;
    color: red;
    font-size: 18px;
    margin-left: auto;
}

.item-carrinho{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.item-carrinho img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.info-item{
    display: flex;
    flex-direction: column;
    grid-area: 5px;
    width: 100%;
}

.produto-carrinho{
    color: black;
}

.preco-item{
    color: green;
    font-weight: bold;
}

.quantidade{
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantidade button{
    width: 25px;
    height: 25px;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.rodape{
    padding: 15px;
    border-top: 1px solid #ccc;
}

.rodape button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: #02021a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.valor{
    color: black;
}

.carrinho-vazio{
    text-align: center;
    padding: 20px;
    color: black;
}

.btn-voltar{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px ;
    background: red;
    color: white;
    font-weight: bolder;
}


footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 3px;
}

.info-footer:hover{
    text-decoration: underline ;
}

/* Página de favoritos */

.pagina-favoritos .produto{
  width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.pagina-favoritos .produto img{
    height: 200px;
    object-fit: cover;
}

.pagina-favoritos .info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.pagina-favoritos .Adicionar {
    margin-top: auto;
    width: 100%;
}

.pagina-favoritos .produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 20px;
    justify-content: left;
}

/*Página de "Cadastre-se"*/

.cadastro{
    width: 400px;
    height: 100px;
    border-radius: 30px;
    background-image: linear-gradient(#730217, #400112 );
}